<div class="card text-center" style="width: 50rem;">
  <div class="card-body text-center">
  <%= image_tag "property.jpeg", style: 'height:7vw;width:15vw;margin-bottom:20px;' %>
    <h5 class="card-title">Property Details </h5></br>
<%= form_with(model: property, local: true) do |form| %>
  <% if property.errors.any? %>
    <div id="error_explanation">
      <h5><%= pluralize(property.errors.count, "error") %> prohibited this property from being saved:</h5>

      <ul>
        <% property.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row ">

  <div class="col-6 form-floating mb-3">
  <div class="input-group">
      <div class="input-group-text">Property type</div>
    <%= form.text_field :property_type, class:"form-control",placeholder:"property_type" %>  
  </div></div>

  <div class="col-6 form-floating mb-3">
  <div class="input-group">
      <div class="input-group-text">BHK</div>
    <%= form.text_field :bhk, class:"form-control",placeholder:"BHK" %>  
  </div></div>
  
  </div>

  <div class="row">
  <div class="col-6 form-floating mb-3">
  <div class="input-group">
      <div class="input-group-text">Size (sq.feet)</div>
    <%= form.text_field :size, class:"form-control",placeholder:"size_in_square_feet" %>  
  </div></div>

  <div class="col-6 form-floating mb-3">
  <div class="input-group">
      <div class="input-group-text">Rs</div>
    <%= form.text_field :price, class:"form-control",placeholder:"Price in Rupees" %>  
  </div></div></div>

  <div class="row">
  <div class="col-6 form-floating mb-3">
  <div class="input-group">
      <div class="input-group-text">Address</div>
    <%= form.text_field :address, class:"form-control",placeholder:"Address" %>  
  </div></div>
  </div>
  <div class="actions">
    <input type="submit" name="commit" class= "col-3 btn btn-info" value="Create Property" data-disable-with="Create Property">
  </div><br/>
<% end %>
