<!DOCTYPE html>
<html>
	<head>
		<style>
			body {
				text-align:center;
			}
			img {
				width:400px;
				height:200px;
			
			}
		</style>
	</head>
<div class="card" style="height: 30rem; width: 68rem;">
  <div class="card-body text-center">
  <%= image_tag "download.png", style: 'height:7vw;width:15vw;margin-bottom:20px;' %>
    <h4>Property Details </h4>
    </div>
    <div class="card-body">
    <div class="row">
    <div class="col-6 form-floating mb-3">
    <% if @property.image.attached? %>
      <img src="<%=(url_for(@property.image))%>"/>
      
    <% end %></div>
    
    <div class="col-6 form-floating ml-3">
    <body style="background-color:powderblue;">
    <strong>Property Type:</strong> <%= @property.property_type %><br>
    <strong>          Bhk:</strong> <%= @property.bhk %><br>
    <strong>         Size:</strong> <%= @property.size %><br>
    <strong>        Price:</strong> Rs.<%= @property.price %><br>
    <strong>      Address:</strong> <%= @property.address %> <br>
    <strong>        Agent:</strong> <%= @property.agent.agent_name %> <br></body>
</div>
<div class="card-body text-center">
<%= link_to 'Edit', edit_property_path(@property), class: "btn btn-info" %> |
<%= link_to 'Back', properties_path, class: "btn btn-info"%> 
  </div>

</div>

</html>