<html>
<style>

html, body { background: #FF6633; }
.nav-link {
color:white;
}
.navbar-custom {
    background-color: 
    font-color:white;
}
.content{
    display:block;
}
.con{
    background: #253E7E;
}
</style>



<div class="card" style="height: 30rem; width: 68rem;">
  <div class="card-body text-center">
  <%= image_tag "download.png", style: 'height:7vw;width:15vw;margin-bottom:20px;' %>
    <h4>Property Details </h4>
    </div>
    <div class="card-body">

    <% if @property.image.attached? %>
      <img src="<%=(url_for(@property.image))%>"/>
    <% end %>

<pre>         
                                                  <strong>Property Type:</strong> <%= @property.property_type %>
                                                  <strong>          Bhk:</strong> <%= @property.bhk %>
                                                  <strong>         Size:</strong> <%= @property.size %>
                                                  <strong>        Price:</strong> Rs.<%= @property.price %>
                                                  <strong>      Address:</strong> <%= @property.address %> 
                                                  <strong>        Agent:</strong> <%= @property.agent_id %> 
                                                  </pre>

</div>
<div class="card-body text-center">
<%= link_to 'Edit', edit_property_path(@property), class: "btn btn-info" %> |
<%= link_to 'Back', properties_path, class: "btn btn-info"%> 
  </div>

</div>

</html>