



<div class="register-photo">
<%= stylesheet_link_tag "register" %>
    <div class="form-container">
        <div class="image-holder"></div>
        
        <%= form_for :agent, url:'/agents%23create' do |form| %>
            <% if @agent.errors.any? %>
            <div id="error_explanation">
              <h5><%= pluralize(@agent.errors.count, "error") %> prohibited this agent from being saved:</h5>
        
              <ul>
                <% @agent.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
            <h2 class="text-center"><strong>Create Sub Agent</strong> account</h2>
            <div class="form-group"><input class="form-control" autofocus="autofocus" autocomplete="agent_name" type="text" name="agent[agent_name]" id="agent_agent_name", placeholder="Agent Name"</div>
            <div class="form-group"><input class="form-control" autofocus="autofocus" autocomplete="phone_number" type="text" name="agent[phone_number]" id="agent_phone_number" placeholder="Phone Number"</div>
            <div class="form-group"><input class="form-control" autofocus="autofocus" autocomplete="email" type="email" value="" name="agent[email]" id="agent_email" placeholder="Email"</div>
            <br>
            <input type="submit" name="commit" class="col-5 btn btn-info" value="Create Agent" data-disable-with="Create Agent">
            
            <br><br>
            <%= link_to 'Back', agents_path, class: "col-5 btn btn-primary" %>
            <% end %>
    </div>
</div>


