<h1>New Agent</h1>

<%= form_for :agent, url:'/agents%23create' do |form| %>
    <% if @agent.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@agent.errors.count, "error") %> prohibited this @agent from being saved:</h2>
  
        <ul>
          <% @agent.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="field">
      <%= form.label :agent_name %>
      <%= form.text_field :agent_name %>
    </div>
  
    
  
    <div class="field">
      <%= form.label :phone_number %>
      <%= form.number_field :phone_number %>
    </div>

    <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
  <%= form.label :password %>
  <%= form.text_field :password %>
</div>


<div class="actions">
<input type="submit" name="commit" class= "col-3 btn btn-info" value="Create Agent" data-disable-with="Create Agent">
</div><br/>

  

  <% end %>
  

<%= link_to 'Back', agents_path %>
