
<p>
  <strong>Agent name:</strong>
  <%= @agent.agent_name %>
</p>

<p>
  <strong>Role:</strong>
  <%= @agent.role %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @agent.phone_number %>
</p>

<p>
  <strong>Company:</strong>
  <%= @agent.company_id %>
</p>

<%= link_to 'Edit', edit_agent_path(@agent) %> |
<%= link_to 'Back', agents_path %>
