
<p>
  <strong>Recipient email:</strong>
  <%= @invitation.recipient_email %>
</p>

<p>
  <strong>Agent Name:</strong>
  <%= @invitation.agent.agent_name %>&emsp;
  <strong>Agent Phone Number:</strong>
  <%= @invitation.agent.phone_number %>
</p>

<p>
  <strong>Property:</strong>
  <%= @invitation.property_id %>
</p>

<p>
  <strong>Lock code:</strong>
  <%= @invitation.lock_code.code %>
</p>

<%= link_to 'Edit', edit_invitation_path(@invitation) , class: "btn btn-success"%>

