<div class="card text-center" style="width: 60rem;">
  <div class="card-body text-center">
  <%= image_tag "property.jpeg", style: 'height:7vw;width:15vw;margin-bottom:20px;' %>
    <h4 class="card-title">Invitation Details </h4>
<h5> Greetings! 
<strong>
  <%= @invitation.recipient_name %><strong/>
</h5>

<p>
  
</p>

<p>
  <strong>Agent Name:</strong>
  <%= @invitation.agent.agent_name %>&emsp;
  <strong>Agent Phone Number:</strong>
  <%= @invitation.agent.phone_number %>
</p>

<p>
  <strong>Property:</strong>
  <%= @invitation.property_id %>
</p>

<p>
  <strong>Lock code:</strong>
  <%= @invitation.lock_code.code %>
</p>

<%= link_to 'Edit', edit_invitation_path(@invitation) , class: "btn btn-success"%>
<div/>
<div/>